<div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">Danh sách tài liệu đính kèm</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <table class="table">
            <thead class=" text-primary">
              <th>
                Loại tài liệu
              </th>
              <th>
                Mã tài liệu
              </th>
              <th>
                Tên tài liệu
              </th>
              <th>
                Tên file
              </th>
              <th>
                #
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let doc of documentList" class="ng-scope active">
                <td>{{doc.docType}} | {{doc.docTypeName}}</td>
                <td>{{doc.docCode}}</td>
                <td>{{doc.docName}}</td>
                <td><a class="button" (click)= "download(doc.url)">{{doc.url}}</a></td>
                <td><button class="btn btn-primary btn-round" (click)="removeItem(doc)">-</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
</div>