<!-- <customer-cmp></customer-cmp> -->
<div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">Quy trình</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 pr-1">
            <button (click)="completeTask()"  class="btn btn-primary btn-round">Yêu cầu nhập kho</button>
        </div>
        <div class="col-md-3 pr-1">
            <button (click)="completeTask()"  class="btn btn-primary btn-round">Mượn hồ sơ</button>
        </div>
        <div class="col-md-3 pr-1">
            <button (click)="completeTask()"  class="btn btn-primary btn-round">Trả hồ sơ</button>
        </div>
        <div class="col-md-3 pr-1">
            <button (click)="completeTask()"  class="btn btn-primary btn-round">Yêu cầu xuất kho</button>
        </div>
      </div>
    </div>
    
</div>

