
<div class="row">
  <div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 pr-1">
          <div class="form-group">
            <label>Loại</label>
            <input type="text" (input)="filter.searchType=$event.target.value" [ngModel]="filter.searchType" class="form-control" placeholder="02" >
          </div>
        </div>
        <div class="col-md-2 px-1">
          <div class="form-group">
            <label>Số CIF</label>
            <input type="text" (input)="filter.cifNo=$event.target.value"  [ngModel]="filter.cifNo" class="form-control" placeholder="126002600" >
          </div>
        </div>
        <div class="col-md-2 pl-1">
          <div class="form-group">
            <label>Loại giấy tờ tùy thân </label>
            <input type="text" (input)="filter.idType=$event.target.value" [ngModel]="filter.idType" class="form-control" placeholder="CCCD">
          </div>
        </div>
        <div class="col-md-2 pl-1">
          <div class="form-group">
            <label>Số giấy tờ tùy thân</label>
            <input type="text" (input)="filter.idNo=$event.target.value"  [ngModel]="filter.idNo" class="form-control" placeholder="643820006000">
          </div>
        </div>
        <div class="col-md-2 pl-1">
          <div class="form-group">
            <label>Tên</label>
            <input type="text" (input)="filter.shortName=$event.target.value"  [ngModel]="filter.shortName"  class="form-control" placeholder="Nguyen Van An">
          </div>
        </div>
        <div class="col-md-2 pl-1">
          <div class="update ml-auto mr-auto">
            <button  (click)="search()"  class="btn btn-primary btn-round">Tìm kiếm</button>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
</div>

